doctype html
html(lang="en" class="no-js" ng-app="dockerboard" ng-strict-di)
  head
    meta(charset='utf-8')
    title Dockerboard | Simple dashboards, visualizations, managements for your dockers
    base(href="/")
    meta(name="description" content="Simple dashboards, visualizations, managements for your dockers.")
    meta(name="keywords" content="docker, dockers, docker dashboards, docker visualizations, docer managements")
    meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")

    // build:css(./) css/dockerboard.css
    link(rel="stylesheet" href="bower_components/angular/angular-csp.css")
    link(rel="stylesheet" href="bower_components/angular-material/angular-material.css")
    link(rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css")
    link(rel="stylesheet" href="bower_components/angular-material/themes/light-green-theme.css")
    link(rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css")
    link(rel="stylesheet" href="bower_components/material-design-icons/sprites/svg-sprite/svg-sprite-navigation.css")
    link(rel="stylesheet" href="bower_components/material-design-icons/sprites/svg-sprite/svg-sprite-image.css")
    link(rel="stylesheet" href="bower_components/material-design-icons/sprites/svg-sprite/svg-sprite-content.css")
    link(rel="stylesheet" href="bower_components/material-design-icons/sprites/svg-sprite/svg-sprite-action.css")
    link(rel="stylesheet" href="bower_components/material-design-icons/sprites/svg-sprite/svg-sprite-av.css")
    // endbuild

    // build:css css/dockerboard-app.css
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href='css/svg-icons.css')
    // endbuild

  body(md-theme="blue" layout="row" ng-controller="SidenavCtrl")

    md-sidenav(layout="column"
      class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$media('gt-sm')")
      md-toolbar(md-theme="blue")
        h1(class="md-toolbar-tools")
          a(href="" ng-click="goHome()") Dockerboard
      md-content(flex)
        nav.app-footer
          div
            a(href="https://github.com/dockerboard")
              img(src="images/github.svg" width="16")
          div Created and maintained by <a href="http://dockerpool.com" target="_blank">DockerPool</a> Team
          div © DockerBoard 2014
        div(ng-repeat="section in menu.sections")
          button(class="menu-item menu-title md-menu-item"
            ng-if="!section.url"
            ng-click="menu.toggleSelectSection(section)"
            ng-href="#{{section.url}}"
            md-highlight="menu.isSectionSelected(section)"
            md-ink-ripple="#bbb") {{ section.name }}
          a(class="menu-item menu-title md-menu-item"
            ng-if="section.url"
            ng-click="menu.toggleSelectSection(section)"
            ng-href="#{{section.url}}"
            md-highlight="menu.isSectionSelected(section)"
            md-ink-ripple="#bbb") {{ section.name }}

    div(layout="column" tabindex="-1" role="main" flex)
      md-toolbar(layout="column" ng-click="openMenu()" class="md-blue-theme md-toolbar-tools" flex)
        md-list(layout="row" layout-align="left center" flex)
          md-item
            md-item-content
              md-button(class="menu-icon" hide-gt-sm aria-label="Toggle Menu")
                div.icon.svg-ic_menu_24px
          md-item(ng-repeat="breadcrumb in menu.breadcrumbs" layout="column")
            md-item-content(layout-align="left center" flex)
              div
                a(ng-href="#{{menu.breadcrumbUrl($index)}}") {{ breadcrumb.name || breadcrumb }}
              div(ng-if="$index < menu.breadcrumbs.length - 1" class="menu-separator-icon" style="padding-right: 3px; padding-left: 3px;")
                div.icon.svg-ic_chevron_right_24px(aria-hidden="true" hide-sm)
      md-content(layout="column" class="md-padding" ui-view flex)

    // build:js(./) js/dockerboard.js
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/hammerjs/hammer.js")
    script(src="bower_components/angular-material/angular-material.js")
    script(src="bower_components/lodash/dist/lodash.js")
    script(src="bower_components/d3/d3.js")
    script(src="bower_components/pretty-bytes/pretty-bytes.js")
    script(src="bower_components/angular-pretty-bytes/angular-pretty-bytes.js")
    script(src="bower_components/angular-loading-bar/build/loading-bar.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/angular-moment/angular-moment.js")
    // endbuild

    // build:js js/dockerboard-app.js
    script(src='js/config.js')
    script(src='js/app.js')
    script(src="js/filters/filters.js")
    script(src="js/services/index.js")
    script(src="js/services/menu.js")
    script(src="js/services/containers.js")
    script(src="js/services/container_actions.js")
    script(src="js/services/images.js")
    script(src="js/services/image_actions.js")
    script(src="js/modules/site/site.js")
    script(src="js/modules/sidenav/sidenav.js")
    script(src="js/modules/containers/containers.js")
    script(src="js/modules/images/images.js")
    script(src="js/modules/canvas/canvas.js")
    // endbuild

